.new {
    border-radius: 50px;
}

form {
    text-align: center;
}

.firstname {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.lastname {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.mobileno {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 31px;
}

.emailid {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.pincode {
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 8px;
}

.genderbox {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 22px;
}

.countryBox {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.datebox {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 41px;
    font-size: 17px;
}

.buttonbox {
    margin-top: 41px;
    font-size: 20px;
    margin-left: 50px;
    border-radius: 8px;
}

select#country {
    height: 26px;
    width: 160px;
}